@import '../../styles/shared';

.headerContainer {
    height: 80px;
    background-color: $primary-black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image:  url('../../assets/images/sw_logo.png');
    max-width: 350px;
    width: 35%;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.menuContainer{
    background: teal;

    .menuItems {
        display: flex;
        @include tablet {
            max-width: 80%; 
            margin: 0 auto;
        }

        div {
            a{
                color: white;
                text-decoration: none;
                &:hover {
                    cursor: pointer;
                    color: black;
                }
            }

            font-size: 14px;
            flex: 1;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 1px dotted white;

            &:first-child {
                border-left: none;
            }
            @include tablet {
                &:last-child {
                    border-right: 1px dotted white;
                }

                &:first-child {
                    border-left: 1px dotted white;
                }
            }
        }
    }

    .breadcrumb {
        
    }
}