$primary-black: #222;
//$teal: #0F5B72;
$teal: teal;

// font-size
$font-size-extra-extra-small: 10px;
$font-size-extra-medium-small: 12px;
$font-size-extra-small: 14px;
$font-size-small: 16px;
$font-size-medium: 18px;
$font-size-large: 20px;
$font-size-extra-large: 28px;

